<%- include('../partials/header.ejs')%>
    <div class="container">
        <div class="card mx-auto my-5" style="max-width: 50rem;">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/img/car.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-sm-6">
                    <div class="card-body d-flex flex-column h-100">
                        <h5 class="card-title">
                            <%= data.name%>
                        </h5>
                        <p>
                            <small><%= data.brand%></small>
                            <small><%= data.price%> <%= data.currency%></small>
                        </p>
                        <p class="card-text">
                            <%= data.info%>
                        </p>
                        <div class="mt-auto">
                            <a href="/cars/<%= data.id%>/edit" class="btn btn-sm btn-outline-success">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="/cars/<%= data.id%>/delete" class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/footer.ejs')%>